#div1{
  background-color: lightgray;
  height: 93vh;
}

#div2 {
  background-color: red;
  height: 93vh;
}

#div1-1{
  background-color: aqua;
  height: 45vh;
}



#div1-2{
  background-color: rebeccapurple;
  height: 43vh;
}

#div1-3{
  background-color: #339950;
  height: 43vh;
}

#div1-4{
  background-color: #cc3838;
  height: 43vh;
}
