<section class="container-fluid">

  <div class="row">
    <div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10 col-xxl-10" id="div1">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 mt-2" id="div1-1">
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 mt-3" >
          <div class="row">
            <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4 mt-2" id="div1-2">
            </div>
            <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4 mt-2" id="div1-3">
            </div>
            <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4 mt-2" id="div1-4">
            </div>
          </div>
        </div>
      </div>
    </div>
  <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2" id="div2">
  </div>
  </div>

</section>
