<section class="container-fluid">

  <div class="row ">
    <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4 mt-3">
      <div class="row container-fluid mt-4">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12" id="div1-1">
        </div>
        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 mt-4" id="div2-1">
        </div>
        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 mt-4" id="div2-2">
        </div>
      </div>
    </div>


    <div class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8 col-xxl-8 mt-3">
      <div class="row ">
        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6" id="div3">
        </div>
        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6" id="div3-1">
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12" id="div4">
        </div>
      </div>
    </div>

  </div>

</section>
