/*
#div1 {
  background-color: red;
  height: 90vh;
}*/

#div1-1 {

  background-color: yellow;
  height: 40vh;
}

#div2-1 {
  background-color: blue;
  height: 40vh;
}

#div2-2 {
  background-color: burlywood;
  height: 40vh;

}

#div3 {
  background-color: darkslategrey;
  height: 45vh;
}

#div3-1 {
  background-color: coral;
  height: 45vh;

}

#div4 {
  background-color: beige;
  height: 45vh;

}
