.columna-1{
  background-color: #01fd49;
}

.columna-2{
  background-color: #f80303;
}

.columna-3{
  background-color: #002aff;
}


.columna-4{
  background-color: #8400ff;
}

.columna-5{
  background-color: aliceblue;
}

.columna-6{
  background-color: #b29d91;
}

.columna-7{
  background-color: #445426;
}

.columna-8{
  background-color: #615169;
}

.columna-9{
  background-color: #087e7e;
}

.columna-10{
  background-color: #debb87;
}

.columna-11{
  background-color: darkblue;
}
.columna-12{
  background-color: green;
}
.columna-13{
  background-color: gray;
}

.columna-14{
  background-color: goldenrod;
}
.columna-15{
  background-color: darkslategrey;
}

.columna-16{
  background-color: darkorange;
}

.columna-17{
  background-color: yellowgreen;
}

.columna-18{
  background-color: grey;
}

.columna-19{
  background-color: orangered;
}

.bi-person-fill{
  font-size: 6rem;
}

.bi-android2, .bi-calendar-week{
  font-size: 4rem;
}

.bi-cash, .bi-droplet-half, .bi-gpu-card{
  font-size: 3rem;
}

