<section class="page-section cta">
  <div class="container">
    <div class="row p-1">
      <div class="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2 col-xxl-2 columna-1">
        <div class="row p-1">
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 columna-2 text-center text-sm-center text-md-center text-lg-center text-xl-center">
            <i class="bi bi-person-fill "></i>
          </div>
        </div>
        <div class="row p-1">
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12  col-xxl-12 columna-3">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio rerum dolores sequi itaque, laborum iste eius quisquam? Sunt ea.</div>
        </div>
        <div class="row p-1">
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12  col-xxl-12 columna-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quisquam repudiandae doloremque aliquid dolor aperiam nihil iste ipsa? Dicta.</div>
        </div>
        <div class="row p-1">
          <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6  col-xxl-6 columna-5">Lorem ipsum?</div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6  col-xxl-6 columna-6">Lorem ipsum.</div>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-9 col-lg-9 col-xl-9 col-xxl-9 columna-7">
        <div class="row p-1">
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12  col-xxl-12 columna-8">
            <div class="row p-1">
              <div class="col-12 col-sm-12 col-md-12 col-lg-10 col-xl-10  col-xxl-10 columna-9">
                <div class="row p-1">
                  <div class="col-12 col-sm-12 col-md-10 col-lg-10 col-xl-10  col-xxl-10 columna-10">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestias, corrupti. Nulla debitis ad, minus nemo quibusdam qui, impedit error ea, in veniam dignissimos illum! Odio doloribus at quasi quos numquam, in veniam dignissimos illum! Odio doloribus at quasi quos numquam.</div>
                  <div class="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2  col-xxl-2 columna-11">
                    <div class="row p-1">
                      <div class="col-6 col-sm-6 col-md-12 col-lg-12 col-xl-12  col-xxl-12 columna-12 text-center text-sm-center text-md-center text-lg-center text-xl-center">
                        <i class="bi bi-android2"></i>
                      </div>

                      <div class="col-6 col-sm-6 col-md-12 col-lg-12 col-xl-12  col-xxl-12 columna-13 text-center text-sm-center text-md-center text-lg-center text-xl-center">
                        <i class="bi bi-calendar-week"></i>
                      </div>
                    </div>

                  </div>
                </div>
                <div class="row p-1">
                  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12  col-xxl-12 columna-14">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut ipsam praesentium adipisci ad labore totam nulla culpa. Consequuntur recusandae expedita eaque minus laudantium. Ducimus corrupti libero iure error necessitatibus beatae!. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut ipsam praesentium adipisci ad labore totam nulla culpa. Consequuntur recusandae expedita eaque minus laudantium. Ducimus corrupti libero iure error necessitatibus beatae! Ut ipsam praesentium adipisci ad labore totam nulla culpa.  Ut ipsam praesentium adipisci ad labore totam nulla culpa. </div>
                </div>
              </div>
              <div class="col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2  col-xxl-2 columna-15">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut ipsam praesentium adipisci ad labore totam nulla culpa. Consequuntur recusandae expedita eaque minus laudantium!</div>
            </div>
          </div>
        </div>
        <div class="row p-1">
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12  col-xxl-12 columna-16">
            <div class="row p-1">
              <div class="col-12 col-sm-12 col-md-12 col-lg-9 col-xl-9  col-xxl-9 columna-17">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aperiam repellat unde a dolorem iure assumenda recusandae id, deserunt hic blanditiis minima quia quae quam consequuntur fugit deleniti dolores vel. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aperiam repellat unde a dolorem iure assumenda recusandae id, deserunt hic blanditiis minima quia quae quam consequuntur fugit deleniti dolores vel.</div>
              <div class="col-4 col-sm-4 col-md-4 col-lg-1 col-xl-1  col-xxl-1 columna-10 text-center text-sm-center text-md-center text-lg-center text-xl-center">
                <i class="bi bi-cash"></i>
              </div>
              <div class="col-4 col-sm-4 col-md-4 col-lg-1 col-xl-1  col-xxl-1 columna-18 text-center text-sm-center text-md-center text-lg-center text-xl-center">
                <i class="bi bi-droplet-half"></i>
              </div>
              <div class="col-4 col-sm-4 col-md-4 col-lg-1 col-xl-1  col-xxl-1 columna-19 text-center text-sm-center text-md-center text-lg-center text-xl-center">
                <i class="bi bi-gpu-card"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
