.columna-1{
  background-color: #339950;
}

.columna-2{
  background-color: #cc3838;
}

.columna-3{
  background-color: #5dcc38;
}


.columna-4{
  background-color: #38a0cc;
}

.columna-5{
  background-color: #8ada6d;
}

.columna-6{
  background-color: #e32e74;
}

.columna-7{
  background-color: #9aec0b;
}

.columna-8{
  background-color: #0beca8;
}

